@CHARSET "UTF-8";

header,section,footer,aside,nav,article,figure,figcaption,hgroup {
	display: block;
}

html {
	background: url("/images/logo.png");
	background-repeat: no-repeat;
	background-size: 25em;
	font-family: Verdana, Geneva, sans-serif;
}
.errorNote {
	color:#444444;
	display:inline;
	padding-left: 0.5em;
	font-style: italic;

}


.cell {
	position:relative;
	text-align:right;
	height:3.5em;
	width:4em;
	padding-top: 2em;
	padding-bottom: 1em;
}

.operator {
	position:absolute;
	bottom:.2em;
	right:1.4em;
	color:#BB3300;

}


.problem {
	position:absolute;
	right:0;
	top:0;
	height:2.8em;
	left:1.8em;
	border-bottom: solid thin #BB3300;
	
	
}

.solution {
	
	position:absolute;
	right:0;
	bottom:2em;

	
}


body {
	font-size:large;
	width: 800px;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	background-color: #FFFFFF;
	opacity: 0.8;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 10px;
}

img {
    display: inline-block;
    background:#000000;
	opacity:1;
}

a img
{
     border:0px;
}


tbody tr td {
    padding-top: 0;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
}

h1 {
	color: #BB3300;
	font-size: 1.2em;
	font-weight: bold;
}

header h1 {
	color: #BB3300;
	font-size: 1.2em;
}

form {
	border-radius: 10px;
	filter:Alpha(opacity=100);
	background-color: #ff8020;
	opacity: 1.0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;

}

input {
	background-color: #FFFFFF;
}

/* unvisited link */
a:link {
    color: #CC4400;
}

/* visited link */
a:visited {
    color:#BB3300;
}

/* mouse over link */
a:hover {
    color: #DD5500;
}

/* selected link */
a:active {
    color: #EE6600;
}

