@CHARSET "UTF-8";

.quizheader {
	position:absolute;
	bottom:1em;
	left:0em;
	color: #BB3300
	

}
.fieldlabel {
	display:inline-block;
	padding-left: 2em;
	
}

.fieldbox {
	display:inline-block;
	width:15em;
	border-bottom: solid thin #BB3300;
}


tbody tr td {
    text-align: right;
    padding-left: 2em;
    padding-right: 3em;
    padding-bottom: 2em;
    text-align: right;

}



